:host {
  display: block;
  padding: 2rem;

  .example {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--grey);
    border-radius: 10px;
    padding: 10px;

    .grid-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      align-items: start;

      > div {
        min-width: 0;
      }

      input {
        margin-right: 10px;
        height: 30px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid var(--grey);
        padding: 5px 8px;
        margin-bottom: 10px;
      }

      button {
        height: 30px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid var(--grey);
        padding: 5px 8px;
        background-color: var(--primary);
        color: var(--white);
        cursor: pointer;

        &:hover {
          background-color: var(--primary-010);
        }
      }

      .post {
        min-width: 0;
      }

      pre {
        margin: 10px 0;
        font-size: 14px;
        font-family: monospace;
        background-color: var(--grey-010);
        border-radius: 10px;
        border: 1px solid var(--grey);
        padding: 10px 20px;
        width: 100%;
        max-width: 100%;
        max-height: 600px;
        min-height: 200px;
        overflow: auto;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
      }
    }
  }
}
