:root {
    --primary: rgba(47, 191, 113, 1);
    --primary-010: rgba(33, 128, 77, 1);

    --white: rgba(255, 255, 255, 1);

    --grey: rgba(155, 155, 160, 1);

    --black: rgba(16, 16, 26, 1);
    --black-010: rgba(42, 42, 48, 1);

    --red: rgba(201, 0, 37, 1);
    --red-010: rgba(163, 0, 30, 1);
}